body {
	background-image: url("../images/restaurant.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%
}

.main-text {
	margin-top: 15%;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: Bookman;
	text-transform: uppercase;
	text-align: center;
}

.login-form{
	margin-top: 22%;
	width: 99%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	text-align: center;
}


#register-btn{
	color: white;
}

.btn-primary:hover {
	cursor: pointer;
	transition: all 1s;
  	transform: scale(1.1);
}