body{
    padding: 2%;
    margin: 2% auto;
    background-color: #6f9cc3;

}

.table-draggable{
    color: white;
    position: absolute;

}

#table{
	border: solid 1px #555;
	background-color: #eed;
	box-shadow: 10px -10px  rgba(0,0,0,0.6);
	border-radius:100px;
}

#receipt-box {
    position: absolute;
    z-index: 9;
    background-color: #ffffff;
    border: 1px solid #66a3ff;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

#receipt-box-header {
    padding: 10px;
    z-index: 10;
    background-color: #66a3ff;
    color: #f2f2f2;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
  height: 10rem;
  background-color: red;
}


ul li {
  border: 1px solid #ddd; */
  margin-top: -1px; /* Prevent double borders */
   background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  position: relative;

}

/* Add a light grey background color on hover */
ul li:hover {
  background-color: #eee;
}
/* The Modal (background) */



#plus-button{
    background-color: transparent;
    border: none;
}
/* The Close Button */

#plus{
    /* box-sizing: content-box !important; */
    padding-right: 10px;
    color: #595959;
    float: left;
    font-size: 28px;
    font-weight: bold;
    width: auto;
}

#receipt-plus{
    padding-right: 10px;
    color: #595959;
    /* float: left; */
    font-size: 28px;
    font-weight: bold;
    width: auto;
}

#receipt-close,
#modal-close  {
    padding-left: 10px;
    color: #595959;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: auto;
}
#receipt-plus:hover,
#receipt-close:hover,
#plus:hover,
#plus:focus ,
#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
