body{
    padding: 2%;
    margin: 2% auto;
    background-image: url("../images/floor.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar{
    margin-top: -2.5em;
    margin-left: -1em;
    margin-right: -1em;
    background-color: rgba(196, 108, 73, 0.75) !important;
    text-shadow: 2px 2px 4px #000000;
    border: 0.5px solid white;
    border-radius: 3px;
    font-family: Bookman;
	text-transform: uppercase;

/* light blue: 181, 225, 223, 0.85 */
}

#log-out-btn{
    background-color: Transparent;
    color: white;
    border: 2px solid white;
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;

}

.table-draggable{
    position: absolute;
}

img{
    height: 150px;
    width: 150px;
    color: white;
    opacity: 0.9;
}


#receipt-box {
    position: absolute;
    z-index: 9;
    background-color: #ffffff;
    border: 1px solid #66a3ff;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

#receipt-box-header {
    padding: 10px;
    z-index: 10;
    background-color: #66a3ff;
    color: #f2f2f2;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
  height: 10rem;
  background-color: red;
}


ul li {
  border: 1px solid #ddd; */
  margin-top: -1px; /* Prevent double borders */
   background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  position: relative;

}

/* Add a light grey background color on hover */
ul li:hover {
  background-color: #eee;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: sticky; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /* width: auto; /* Full width */
    height: auto; /* Full height */
    overflow:visible; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
    border: 1px solid #888;
    height: inherit;
}
.modal-header{
    display:block;
}
.upper-bar-modal-content{
    padding-left: 1%;
    padding-right: 1%;
}


.close{
    padding-left: 10px;
}
/* The Close Button */

#plus{
    /* box-sizing: content-box !important; */
    padding-right: 10px;
    color: #595959;
    float: left;
    font-size: 28px;
    font-weight: bold;
    width: auto;
}

#receipt-plus{
    padding-right: 10px;
    color: #595959;
    /* float: left; */
    font-size: 28px;
    font-weight: bold;
    width: auto;
}

#receipt-close,
#modal-close  {
    padding-left: 10px;
    color: #595959;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: auto;
}
#receipt-plus:hover,
#receipt-close:hover,
#plus:hover,
#plus:focus ,
#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
