body{
    padding: 2%;
    margin: 2% auto;

}


.fas{
    color: black;
}

#receipt-box {
    position: absolute;
    z-index: 9;
    background-color: #ffffff;
    border: 1px solid #66a3ff;
    text-align: center;
    display: none;
    box-sizing: border-box;
}

#receipt-box-header {
    padding: 10px;
    /* cursor: move; */
    z-index: 10;
    background-color: #66a3ff;
    color: #f2f2f2;
    /* color: #fff; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}

/* Style the list items */
ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  position: relative;
}

/* Add a light grey background color on hover */
ul li:hover {
  background-color: #eee;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: sticky; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /* width: auto; /* Full width */ */
    height: auto; /* Full height */
    overflow:visible; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {

    border: 1px solid #888;
    /*width: 80%; /* Could be more or less, depending on screen size */*/
    height: inherit;
}
/*.modal-header h2{

    text-align: center !important;
    padding: 0px !important;
}*/

/* The Close Button */
#plus{
    /* box-sizing: content-box !important; */
    padding-right: 10px;
    color: #595959;
    float: left;
    font-size: 28px;
    font-weight: bold;
    width: auto;}

#modal-close  {
    padding-left: 10px;
    color: #595959;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: auto;
}

#plus:hover,
#plus:focus ,
#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
