.fas{
    color: black;
}

#receipt-box {
    position: absolute;
    z-index: 9;
    background-color: #ffffff;
    border: 1px solid #e6b800;
    text-align: center;
    display: none;
    box-sizing: border-box;
}

#receipt-box-header {
    padding: 10px;
    /* cursor: move; */
    z-index: 10;
    background-color:#e6b800;
    color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}

/* Style the list items */
ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  position: relative;
}

/* Add a light grey background color on hover */
ul li:hover {
  background-color: #eee;
}
